<% if(notes.length > 0) { %>
<% notes.forEach(note => { %>
<section class="nota" data-note-id="<%= note._id %>">
    <h3 class="titulo_nota"><%= note.title %></h3>
    <span class="line"></span>
    <p class="txt_nota"><%= note.content %></p>
    <footer class="data_nota">
        Última alteração feita em
        <span class="date"><%= dayjs(note.lastModified).format('DD/MM/YYYY') %></span> às
        <%= dayjs(note.lastModified).format('HH[h]mm') %>
    </footer>
    <section class="cta_nota">
        <button class="btnCopia" id="btnCopia">
            <img src="./img/copy.svg" alt="Copiar nota">
        </button>
        <button class="btnEdita" id="btnEdita">
            <img src="./img/pencil.svg" alt="Editar nota">
        </button>
        <button class="btnRemove" id="btnRemove">
            <img src="./img/remove.svg" alt="Excluir nota">
        </button>
    </section>
</section>
<% }) %>
<% } else { %>
<span></span>
<% } %>